body{
    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
}
#gem11{
    margin: 25px;
}
#gem22{
    margin: 25px;
}
#gem33{
    margin: 25px;
}
#gem44{
    margin: 25px;
}